.topBg {
  background-color: #026466;
  overflow: hidden;
}
.topBg .topContainer {
  padding: 15px 0 8px;
}
@media (max-width: 480px) {
  .topBg .topContainer ul {
    float: none;
    text-align: center;
    width: 100%;
  }
}
.topBg .topContainer li {
  color: #ffffff;
  margin-top: 3px;
  display: inline-block;
}
.topBg .topContainer li a {
  color: #ffffff;
  padding: 0 12px;
  font-size: 0.75em;
  line-height: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.topBg .topContainer li a:hover {
  color: #cfdc00;
}
.topBg .topContainer li .rBorder {
  border-right: 1px solid #ffffff;
}
.topBg .topContainer .icon li {
  margin: 0 5px;
}
.topBg .topContainer .icon li .clearPadd {
  padding: 0;
}
.topBg .topContainer .icon li .clearPadd i {
  width: 27px;
  height: 27px;
  display: inline-block;
  background: url("images/social2.png");
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.topBg .topContainer .icon li .clearPadd .fb {
  background-position: 0 0;
}
.topBg .topContainer .icon li .clearPadd .fb:hover {
  background-position: 0 -35px;
}
.topBg .topContainer .icon li .clearPadd .tw {
  background-position: -40px 0;
}
.topBg .topContainer .icon li .clearPadd .tw:hover {
  background-position: -40px -35px;
}
.topBg .topContainer .icon li .clearPadd .db {
  background-position: -80px 0;
}
.topBg .topContainer .icon li .clearPadd .db:hover {
  background-position: -80px -35px;
}
.topBg .topContainer .icon li .clearPadd .goo {
  background-position: -120px 0;
}
.topBg .topContainer .icon li .clearPadd .goo:hover {
  background-position: -120px -35px;
}
@media (max-width: 480px) {
  .topBg .topContainer .icon {
    float: none;
    text-align: center;
    margin: 0 auto;
  }
}

.title {
  padding: 32px 0;
  overflow: hidden;
}
.title .logo img {
  width: 100%;
}
@media (max-width: 480px) {
  .title .logo {
    width: 30%;
  }
}
.title .shopCar {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
.title .shopCar .login {
  font-size: 0.8125rem;
  font-weight: 500;
  border: 1px solid #e4e4e4;
  padding: 10px 15px;
  background-color: #fff;
  margin: 0 50px;
}
.title .shopCar .login:hover {
  text-decoration: underline;
  color: #026466;
}
@media (max-width: 480px) {
  .title .shopCar .login {
    padding: 5px 10px;
    margin: 0;
  }
}
.title .shopCar div {
  padding-top: 10px;
  text-align: center;
}
.title .shopCar div a {
  display: block;
  color: #7A8499;
}
.title .shopCar div .price {
  padding-right: 20px;
  background: url("images/bag.png") no-repeat right;
}
.title .shopCar div .price:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .title .shopCar div {
    padding: 7px 10px;
  }
}

@media (max-width: 480px) {
  .title {
    padding: 16px 0;
  }
}
@media (min-width: 481px) {
  .menu {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 7px 0;
    overflow: inherit !important;
  }
  .menu div {
    position: relative;
  }
  .menu div ul #menuBtn {
    display: none;
  }
  .menu div ul li {
    float: left;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .menu div ul li a {
    display: inline-block;
    color: #3f3d3d;
    font-family: Calibri,Arial;
    padding: 5px 27px;
  }
  .menu div ul li a:hover {
    color: #fff;
  }
  .menu div ul .menu-btn1 {
    background-color: rgba(2, 100, 102, 0.83);
  }
  .menu div ul .menu-btn1:hover {
    background-color: #EF5F21;
  }
  .menu div ul .menu-btn1 a {
    color: #fff;
  }
  .menu div ul .menu-btn2:hover {
    background-color: #589D3E;
  }
  .menu div ul .menu-btn3:hover {
    background-color: #D61F85;
  }
  .menu div ul .menu-btn4:hover {
    background-color: #F89F1B;
  }
  .menu div ul .menu-btn5:hover {
    background-color: #00677C;
  }
  .menu div ul .menu-btn6:hover {
    background-color: #D5331D;
  }
  .menu div ul .menu-btn7:hover {
    background-color: #00405d;
  }
  .menu div .searchBar {
    padding: 7px 0;
    background-color: #f3f4f5;
    width: 26%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .menu div .searchBar input {
    padding: 6px 10px 6px 15px;
    border: none;
    color: #5a5a5a;
    background: none;
    outline: none;
    font-size: 0.8125rem;
  }
  .menu div .searchBar .searchText {
    width: 80%;
  }
  .menu div .searchBar .searchBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url("images/search1.png") no-repeat;
  }
  .menu div .next-menu {
    position: absolute;
    top: 57px;
    left: 0;
    box-shadow: 0 2px 4px #777;
    padding: 30px 20px;
    display: none;
    background-color: #fff;
    z-index: 999;
  }
  .menu div .next-menu .row {
    display: inline-block;
    margin: 0 30px;
  }
  .menu div .next-menu .row h3 {
    border-bottom: 1px solid #ececec;
  }
  .menu div .next-menu .row li {
    padding: 10px 0;
    font-size: 0.9375rem;
  }
  .menu div .next-menu .row li a {
    padding: 0;
  }
  .menu div .next-menu .row li a:hover {
    text-decoration: underline;
    color: #00405d;
  }
}
@media screen and (max-width: 480px) {
  #nav {
    width: 100%;
    text-align: center;
  }
  #nav #menuBtn {
    padding: 10px 0;
  }
  #nav li:not(:first-child) {
    display: none;
    line-height: 40px;
    font-size: 1.0625rem;
    font-weight: 500;
  }
  #nav li:not(:first-child) > div {
    display: none;
  }
  #nav .menu-btn1 {
    background-color: rgba(2, 100, 102, 0.83);
  }
  #nav .menu-btn1 a {
    color: #fff;
  }
  #nav:first-child {
    background-color: #eee;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 800;
    text-align: left;
    text-indent: 1em;
    color: #3f3d3d;
  }
  #nav:first-child div {
    width: 10%;
    height: 10px;
    float: right;
    border-top: 8px solid #000;
    border-bottom: 8px solid #000;
    margin-right: 6%;
  }

  .searchBar {
    padding: 7px 0;
    background-color: #f3f4f5;
    width: 100%;
    margin-top: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .searchBar input {
    padding: 6px 10px 6px 15px;
    border: none;
    color: #5a5a5a;
    background: none;
    outline: none;
    font-size: 1.0625rem;
  }
  .searchBar .searchText {
    width: 75%;
  }
  .searchBar .searchBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url("images/search1.png") no-repeat;
  }
}
.banner {
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
}
.banner .banner-img {
  width: 100%;
  position: absolute;
}
.banner .hide-banner {
  display: none;
}
.banner .prevBtn {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  z-index: 99;
  background: url("images/img-sprite.png") no-repeat;
  margin-top: -18px;
  left: 0;
  background-position: -29px 0;
}
.banner .nextBtn {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  z-index: 99;
  background: url("images/img-sprite.png") no-repeat;
  margin-top: -18px;
  left: 100%;
  margin-left: -32px;
  background-position: -70px 0;
}
@media screen and (max-width: 480px) {
  .banner .prevBtn, .banner .nextBtn {
    display: none;
  }
}

.ban-btom {
  border-bottom: 1px solid #eee;
  padding-bottom: 32px;
}
.ban-btom .ban-btom-left {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  position: relative;
}
.ban-btom .ban-btom-right {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  position: relative;
}
.ban-btom .ban-btom-right h3 {
  color: #d7d7d7;
  background-color: rgba(23, 15, 10, 0.82);
}
.ban-btom img {
  width: 100%;
}
.ban-btom h3 {
  text-align: center;
  color: #522f15;
  padding: 10px 0;
  font-size: 1.25rem;
  font-family: 'Aladin', cursive;
  background-color: rgba(255, 255, 255, 0.62);
  position: absolute;
  top: 30%;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .ban-btom h3 {
    font-size: 0.7rem;
    font-weight: 300;
    padding: 5px 0;
  }
}
.ban-btom h4 {
  background-color: #eee;
  color: #999;
  padding: 12px 0;
  font-size: 0.8125rem;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .ban-btom h4 {
    font-size: 0.5rem;
    font-weight: 100;
  }
}

.content {
  padding: 48px 0;
}
@media screen and (max-width: 480px) {
  .content {
    padding: 25px 0;
  }
}
.content .specially {
  padding-bottom: 48px;
  border-bottom: 1px solid #eee;
}
.content .specially h2 {
  font-size: 1.5em;
  font-family: 'Aladin', cursive;
  color: #026466;
  margin-bottom: 2em;
  text-align: center;
}
.content .specially .specially1 {
  display: inline-block;
  width: 26%;
  margin-top: 2%;
  background-color: #EBEBEB;
  padding: 60px 26px 0 26px;
}
@media screen and (max-width: 480px) {
  .content .specially .specially1 {
    padding: 25px 10% 0 10%;
  }
}
.content .specially .specially1 img {
  width: 100%;
}
.content .specially .specially1 .specially1-price {
  padding: 64px 0 50px 0;
}
@media screen and (max-width: 480px) {
  .content .specially .specially1 .specially1-price {
    padding: 10px 0 25px 0;
    text-align: center;
  }
}
.content .specially .specially1 .specially1-price h3 a {
  background-color: #EBEBEB;
  color: #5a5a5a;
  font-size: 1.25rem;
  font-weight: 500;
}
.content .specially .specially1 .specially1-price h3 a:hover {
  color: #026466;
}
@media screen and (max-width: 480px) {
  .content .specially .specially1 .specially1-price h3 a {
    font-size: 0.95rem;
    font-weight: 300;
  }
}
.content .specially .specially1 .specially1-price h4 {
  font-size: 0.75rem;
  font-weight: 300;
  margin: 10px 0;
}
.content .specially .specially1 .specially1-price .buyBtn {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #026466;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.content .specially .specially1 .specially1-price .buyBtn:hover {
  background-color: #cfdc00;
}
@media screen and (max-width: 480px) {
  .content .specially .specially1 .specially1-price .buyBtn:hover {
    background-color: #026466;
  }
}
@media screen and (min-width: 480px) {
  .content .specially1-margin {
    margin: 0 2%;
  }
}
.content .topSellerstop {
  padding: 50px 0;
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 480px) {
  .content .topSellerstop {
    padding: 25px 0;
  }
}
.content .topSellerstop h2 {
  font-size: 1.5em;
  font-family: 'Aladin', cursive;
  color: #026466;
  margin-bottom: 2em;
  text-align: center;
}
.content .topSellerstop .topSellerstop-list {
  width: 20%;
  padding: 0 25px;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .content .topSellerstop .topSellerstop-list {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
}
.content .topSellerstop .topSellerstop-list img {
  width: 100%;
}
.content .topSellerstop .topSellerstop-list .topSellerstop-list-text {
  text-align: center;
  margin-top: 15px;
}
.content .topSellerstop .topSellerstop-list .topSellerstop-list-text h3 a {
  font-size: 1.0625rem;
  font-weight: 500;
  color: #999;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.content .topSellerstop .topSellerstop-list .topSellerstop-list-text h3 a:hover {
  color: #026466;
}
.content .topSellerstop .topSellerstop-list .topSellerstop-list-text h4 {
  font-size: 0.75rem;
  font-weight: 300;
  color: #999;
  line-height: 30px;
}
.content .topSellerstop .topSellerstop-list .topSellerstop-list-text p {
  font-weight: 500;
  font-size: 0.875rem;
}
.content .recommendations {
  padding: 50px 0;
  font-size: 1.5em;
  font-family: 'Aladin', cursive;
  color: #026466;
  margin-bottom: 2em;
  text-align: center;
  text-align: left;
}

footer .about {
  background-color: #F5F5F5;
}
footer .about .about-list {
  width: 24%;
  display: inline-block;
  padding: 35px 0;
}
@media screen and (max-width: 480px) {
  footer .about .about-list {
    width: 49%;
    padding: 25px 0;
    display: inline-block;
  }
}
footer .about .about-list h3 {
  color: #646464;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.125rem;
}
@media screen and (max-width: 480px) {
  footer .about .about-list h3 {
    font-size: 0.9rem;
  }
}
footer .about .about-list li {
  margin-top: 8px;
}
footer .about .about-list li a {
  color: #999;
  padding: 3px 0;
  font-size: 0.9375rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
footer .about .about-list li a:hover {
  color: #000;
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  footer .about .about-list li a {
    font-size: 0.75rem;
  }
}
footer .our {
  padding: 32px 0;
  border-bottom: 1px solid #eee;
}
footer .our .our-title {
  font-weight: 500;
  font-size: 0.9375rem;
  border-right: none;
}
footer .our .our-end {
  border-right: none;
}
footer .our li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #999;
  line-height: 15px;
}
footer .our li a {
  color: #999;
  font-size: 0.9375rem;
}
@media screen and (max-width: 480px) {
  footer .our li a {
    font-size: 0.75rem;
    line-height: 10px;
  }
}
footer .w3c p {
  line-height: 100px;
  color: #999;
  font-size: 0.9375rem;
}
@media screen and (max-width: 480px) {
  footer .w3c p {
    line-height: 20px;
    font-size: 0.6rem;
    text-align: center;
  }
}
footer .w3c p a {
  color: #1B242F;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
footer .w3c p a:hover {
  color: #E74C3C;
  text-decoration: underline;
}

.breadcrumbs {
  background-color: #f5f5f5;
  margin: 2rem auto;
  padding: 8px 15px;
  font-size: 1.15rem;
}
.breadcrumbs a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.breadcrumbs a:hover {
  color: #E74C3C;
  text-decoration: underline;
}
.breadcrumbs span {
  color: #999;
}

.user {
  padding: 0 0 3em 0;
}
.user h2 {
  color: #026466;
}
.user input[placeholder] {
  display: block;
  padding: 8px;
  width: 100%;
  outline: none;
  margin: 10px 0;
  border: 1px solid #E7E7E7;
}
.user .registerBar, .user .loginBar {
  width: 40%;
}
@media screen and (max-width: 480px) {
  .user .registerBar, .user .loginBar {
    float: none !important;
    width: 90%;
  }
}
.user .registerBar span, .user .loginBar span {
  color: #999;
}
.user .registerBar button, .user .loginBar button {
  background-color: #026466;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  color: #fff;
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
}
@media screen and (min-width: 480px) {
  .user .registerBar button:hover, .user .loginBar button:hover {
    background-color: #cfdc00;
  }
}
.user .registerBar a, .user .loginBar a {
  color: #999;
  text-decoration: underline;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
@media screen and (min-width: 480px) {
  .user .registerBar a:hover, .user .loginBar a:hover {
    color: #026466;
    text-decoration: none;
  }
}
.user .registerBar .agreeBtn, .user .loginBar .agreeBtn {
  margin: 10px 0;
}
.user .registerBar .forget, .user .loginBar .forget {
  margin: 10px 0;
}
.user .registerBar p, .user .loginBar p {
  color: #999;
  margin: 1rem 0;
}
.user .registerBar h4, .user .loginBar h4 {
  color: #5d5959;
  font-size: 1.3rem;
  padding: 10px 0;
}
.user .loginBar {
  margin-right: 2%;
}

.shoppingBagListTitle {
  font-size: 1.625rem;
  margin-bottom: 1rem;
}

.shoppingBagList {
  background-color: #eee;
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
}
.shoppingBagList img {
  width: 20%;
  margin-right: 3%;
}
.shoppingBagList .productsinfo {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}
.shoppingBagList .productsinfo h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
  font-family: cursive;
}
.shoppingBagList .productsinfo h3 small {
  display: block;
  font-size: 0.78rem;
  font-weight: 300;
  color: #999;
}
.shoppingBagList .productsinfo h4 {
  font-size: 0.95rem;
  font-weight: 400;
  margin: 1em 0 0.5em;
  margin-right: 3em;
}
.shoppingBagList .productsinfo h4 span {
  font-size: 1.5rem;
  font-weight: 500;
}
.shoppingBagList .productsinfo p {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
}
.shoppingBagList .productsinfo input {
  outline: none;
  height: 25px;
  padding: 6px 12px;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #555;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.shoppingBagList .productsinfo hr {
  border-top: 1px solid #333;
}
.shoppingBagList .productsinfo .service {
  color: #A6A6A6;
  font-size: 0.85em;
  font-weight: 400;
}
.shoppingBagList .productsCloseBtn {
  width: 28px;
  height: 28px;
  background: url("images/close.png");
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.cartTotle {
  float: right;
  width: 30%;
  padding-top: 1.625rem;
}
@media screen and (max-width: 480px) {
  .cartTotle {
    float: none;
    width: 100%;
  }
}
.cartTotle .totalBtn {
  width: 100%;
  text-align: center;
}
.cartTotle .totalBtn button {
  width: 72%;
  background: #026466;
  color: #fff;
  padding: 10px 1.5em;
  margin: 0 0 3rem 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: none;
}
.cartTotle .priceDetails h4 {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.cartTotle .priceDetails p span {
  display: inline-block;
  width: 50%;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}
.cartTotle .priceDetails hr {
  border-top: 1px solid #333;
}
.cartTotle .priceDetails .totalPrice span {
  color: #000;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.625rem 0;
  margin-bottom: 2rem;
}
.cartTotle .options h4 {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.cartTotle .options .coupons {
  color: #9C9C9C;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.cartTotle .options .coupons a {
  background-color: #8E8E8E;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;
  margin-left: 6rem;
}
.cartTotle .options .logIn {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}
.cartTotle .options .logIn a {
  color: #1B242F;
}
