* {
  margin: 0;
  padding: 0; }

.container {
  height: 50px;
  border: 1px solid #999;
  background-color: #eee; }

@media (min-width: 769px) {
  .col-md-1 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 25%; }
  .col-md-4 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 50%; }
  .col-md-7 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 75%; }
  .col-md-10 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 100%; } }

@media (max-width: 768px) {
  .col-xs-1 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 8.33333%; }
  .col-xs-2 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 16.66667%; }
  .col-xs-3 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 25%; }
  .col-xs-4 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 33.33333%; }
  .col-xs-5 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 41.66667%; }
  .col-xs-6 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 50%; }
  .col-xs-7 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 58.33333%; }
  .col-xs-8 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 66.66667%; }
  .col-xs-9 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 75%; }
  .col-xs-10 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 83.33333%; }
  .col-xs-11 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 91.66667%; }
  .col-xs-12 {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 100%; } }
