//reset class
*{
  margin:0;
  padding: 0;
}
html,body{
  font: 14px "Microsoft YaHei",SimHei,Arial,sans-serif;
  min-width: 1280px;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
input{
  border:none;
  outline: none;
}


//aide class
.container-fluid{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clearfix{
  clear: both;
}
.overflow-hidden{
  overflow: hidden;
}
.center-block{
  margin: 0 auto;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}



//main class

//头部导航
header{
  .logo{
    margin-left: 59px;
    font:21px/56px SimHei;
    padding-left: 42px;
    background: url("../img/task_1_7_1_03.png")no-repeat left center;
  }
  li{
    float: left;
    padding: 17px 16px;
    margin: 0 6px;
    a{
      color: #787b83;
    }
    &:first-child{
      border-bottom: 5px solid #e74f4d;
      a{
        color: #e74f4d;
      }
    }
    &:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
      &:hover{
        border-bottom: 5px solid #e74f4d;
        a{
          color: #e74f4d;
        }
      }
    }
    &:last-child{
      margin-right: 22px;
      a{
        color: #e74f4d;
        &:after{
          content: url("../img/task_1_7_1_63.png");
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
}

//主体部分
main{
  .banner{
    position: relative;
    img{
      height: 747px;
    }
    .start{
      position: absolute;
      top:228px;
      left:117px;
      h2{
        font-size: 60px;
        color: #FFFFFF;
      }
      p{
        font-size: 21px;
        color: #FFFFFF;
        margin: 15px 0 63px 0;
      }
      a{
        font-size: 30px;
        color: #FFFFFF;
        padding:16px 101px 13px 99px;
        background-color: #e74f4d;
      }
    }
  }
  .feature{
    padding:44px 71px 65px 88px;
    text-align: center;
    li{
      width: 24%;
      display: inline-block;
      text-align: center;
      position: relative;
      vertical-align: top;
      &:after{
        position: absolute;
      }
      p{
        margin-top: 88px;
        padding:0 60px 20px 60px;
      }
    }
    li:nth-child(1n+2){
      &>p{
        border-left: 1px solid #999999;
      }
    }
    li:nth-child(1n+0){
      &:after{
        position: absolute;
        top:0;
        margin-left: -21px;
      }
    }
    li:nth-child(1){
      &:after{
        content: url("../img/task_1_7_1_98.png");
      }
    }
    li:nth-child(2){
      &:after{
        content: url("../img/task_1_7_1_105.png");
      }
    }
    li:nth-child(3){
      &:after{
        content: url("../img/task_1_7_1_119.png");
      }
    }
    li:nth-child(4){
      &:after{
        content: url("../img/task_1_7_1_123.png");
      }
    }
  }
  .question{
    background-color: #edecec;
    padding: 89px 0 78px 0;
    h2{
      font-family: SimHei;
      font-size: 54px;
      font-weight: 500;
      color: #a1a1a1;
    }
    img{
      margin-bottom: 47px;
    }
  }
  .find-city{
    background: url("../img/task_1_7_1_02.png")no-repeat center;
    background-size: 100%;
    padding:52px 0 132px 0;
    h3{
      font-weight: 500;
      font-size: 21px;
      color: #FFFFFF;
    }
    div{
      width: 30px;
      height: 3px;
      background-color: #FFFFFF;
      margin: 8px auto 20px auto;
    }
    p{
      font-size: 12px;
      color: #FFFFFF;
      margin-bottom: 51px;
    }
    form{
      &>ul{
        &>li{
          display: inline-block;
          margin:0 14px;
          position: relative;
          input{
            height:35px;
            width: 236px;
            background: url("../img/task_1_7_1_221.png")no-repeat 209px center;
            padding-left: 12px;
            background-color: #FFFFFF;
            border:1px solid #FFFFFF;
            &:focus{
              border:1px solid #bf4f48;
            }
          }
          ul{
            width: 248px;
            background-color: #e3e2e4;
            position: absolute;
            top: 35px;
            left:0;
            border:1px solid #bf4f48;
            li{
              text-align: left;
              text-indent: 30px;
              line-height: 26px;
              color: #787879;
              cursor: pointer;
              &:hover{
                color: #FFFFFF;
                background: url("../img/task_1_7_1_4.png")no-repeat 10px center;
                background-color: #bf4f48;
              }
            }
          }
        }
        li:last-child{
          input{
            text-align: center;
            border:none;
            color: #FFFFFF;
            letter-spacing: 20px;
            background: none;
            background-color: #bf4f48;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }
  .show-pic{
    background-color: #f7f7f7;
    padding:100px 0 114px 0;
    li{
      display: inline-block;
      margin: 0 13px;
      vertical-align: top;
      h4{
        font-weight: 500;
        line-height: 26px;
      }
      p{
        font-size: 12px;
        color: #9f9f9f;
        line-height: 20px;
      }
      div{
        padding:12px 8px;
        border:1px solid #e2e2e1;
        border-bottom: none;
        background-color: #FFFFFF;
        img{
          height: 311px;
        }
      }
    }
    li:nth-child(2){
      h4{
        font-size: 21px;
        letter-spacing: 20px;
        line-height: 28px;
      }
    }
  }
  .more{
    .top-section{
      overflow: hidden;
      .timeTitle{
        color: #FFFFFF;
        width: 66.66%;
        background: url("../img/task_1_7_2_04.png")no-repeat center;
        background-size: 100% 100%;
        padding:130px 0 150px 0;
        position: relative;
        &:after{
          content: '';
          width: 0;
          height:0;
          border-top: 14px solid transparent;
          border-bottom: 14px solid transparent;
          border-right: 24px solid #FFFFFF;
          position: absolute;
          top:50%;
          margin-top: -14px;
          right: 0;
        }
        span{
          font-size: 50px;
        }
        h2{
          font-size: 158px;
          font-weight: bold;
        }
        address,time{
          font-size: 22px;
        }
      }
      div:nth-child(2){
        margin-left: 66.66%;
        padding:0 64px 0 70px;
        margin-top: 180px;
        h3{
          font-size: 20px;
          &:after{
            content: '01';
            color: #e74f4d;
          }
        }
        p{
          color: #aaaaaa;
          font-size: 12px;
          line-height: 30px;
        }
        &>a{
          margin-top: 33px;
          color: #e25c60;
          border:1px solid #e25c60;
          width: 103px;
          display: inline-block;
          padding:10px 0 10px;
        }
        .check-btn{
          height: 12px;
          a{
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 6px;
            border:1px solid #929293;
            margin: 24px 7px 0 7px;
            &:first-child{
              background-color: #929293;
            }
          }
        }
      }
    }
    .bottom-section{
      position: relative;
      overflow: hidden;
      font-family: SimHei;
      font-size: 21px;
      &>div{
        width: 33.33%;
        position: absolute;
        top:0;
        bottom:0;
        p{
          line-height: 30px;
        }
        p:first-child{
          margin-top: 200px;
        }
        &>div{
          width: 30px;
          height: 2px;
          background-color: #FFFFFF;
          margin: 25px auto 25px auto;
        }
        a{
          display: inline-block;
          width: 167px;
          padding:10px 0;
        }
      }
      div:nth-child(1){
        color: #FFFFFF;
        background-color: #e74f4d;
        a{
          color: #FFFFFF;
          border:1px solid #FFFFFF;
        }
      }
      div:nth-child(2){
        position: absolute;
        top:0;
        bottom: 0;
        left:33.33%;
        &>div{
          background-color: #ababaa;
        }
        a{
          color: #e74f4d;
          border:1px solid #e74f4d;
        }
      }
      div:last-child{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          top:50%;
          left:0;
          margin-top: -14px;
          border-top: 14px solid transparent;
          border-bottom: 14px solid transparent;
          border-left: 24px solid #FFFFFF;
        }
      }
    }
  }
  .join-us{
    &>.top-section{
      padding-top: 120px;
      h2{
        font-size: 21px;
        font-family: SimHei;
      }
      div{
        width: 31px;
        height: 2px;
        background-color: #e74f4d;
        margin: 8px auto 15px auto;
      }
      p{
        font-size: 12px;
        color: #aaaaaa;
      }
    }
    &>.bottom-section{
      width: 1000px;
      margin: 0 auto;
      overflow: hidden;
      margin-top: 106px;
      .pull-left{
        width: 300px;
        overflow: hidden;
        &>.text-left{
          margin-bottom: 30px;
          h3{
            font-size: 14px;
            line-height: 40px;
            font-family: SimHei;
            color:#231815;
          }
          p{
            font-size: 12px;
            line-height: 18px;
            font-family: SimSun;
            color: #aaaaaa;
          }
          a{
            padding-left: 15px;
            color: #959291;
            background: url("../img/task_1_7_1_04.png")no-repeat 0 center;
          }
        }
      }
      &>div:last-child{
        margin-left: 300px;
        input,textarea{
          background-color: #ececee;
        }
        input{
          width: 40%;
          padding-left:16px;
          line-height: 40px;
          margin: 7px;
        }
        textarea{
          width: 83%;
          margin: 7px 0;
          height: 120px;
          border:none;
          outline:none;
          padding: 15px;
        }
        input:last-child{
          width: 87%;
        }
      }
    }
  }
}

//footer class
footer{
  color: #FFFFFF;
  background-color: #32363e;
  h2{
    font-size: 21px;
    font-family: SimHei;
    font-weight: 400;
    padding-top: 90px;
    line-height: 30px;
  }
  p{
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .link{
    display: inline-block;
    overflow: hidden;
    input{
      line-height: 40px;
      height: 40px;
    }
    input:first-child{
      width: 412px;
      padding: 0 10px;
    }
    input:last-child{
      padding:0 20px;
      background-color: #6f7178;
      color: #FFFFFF;
      font-size: 15px;
    }
  }
  .icon{
    li{
      display: inline-block;
      width: 24px;
      height: 27px;
      margin: 35px 13px;
      a{
        width: 24px;
        height: 27px;
      }
    }
    li:nth-child(1){
      a{
        display: inline-block;
        background: url("../img/task_1_7_1_492.png")no-repeat center;
      }
    }
    li:nth-child(2){
      a{
        display: inline-block;
        background: url("../img/task_1_7_1_495.png")no-repeat center;
      }
    }
    li:nth-child(3){
      a{
        display: inline-block;
        background: url("../img/task_1_7_1_497.png")no-repeat center;
      }
    }
    li:nth-child(4){
      a{
        display: inline-block;
        background: url("../img/task_1_7_1_500.png")no-repeat center;
      }
    }
  }
  .bottom-bar-bg{
  background-color: #303039;
    .bottom-bar{
      width: 1140px;
      margin: 0 auto;
      overflow: hidden;
      padding-top: 40px;
      a,span{
        font-size: 12px;
        font-family: SimSun;
        color: #FFFFFF;
        line-height: 26px;
      }
    }
  }
}

//寻找城市表单选中的样式
#checked-city{
  color: #FFFFFF;
  background: url("../img/task_1_7_1_4.png")no-repeat 10px center;
  background-color: #bf4f48;
}