@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html, body {
  font: 12px SimHei;
  color: #000; }

ul {
  list-style: none; }

i {
  font-style: normal; }

a {
  text-decoration: none; }

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.container-fluid {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box; }

.container {
  min-width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

body > header {
  background-color: #2189bf;
  padding: 0 71px 0 50px; }
  body > header h1 {
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    margin: 10px 0;
    background-color: #ffffff;
    position: relative; }
    body > header h1::before {
      content: '';
      width: 19px;
      height: 19px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #2189bf; }
    body > header h1::after {
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #ffffff; }
  body > header form {
    margin: 14px 0;
    position: relative; }
    body > header form input {
      width: 277px;
      height: 28px;
      border: none;
      border-radius: 14px;
      padding-left: 33px;
      text-indent: 5px;
      background-color: #ffffff;
      font-size: 16px; }
    body > header form .icon-search {
      position: absolute;
      left: 17px;
      top: 7px;
      font-size: 16px;
      color: #AAAAAA; }
    body > header form button {
      background: none;
      border: none;
      color: #ffffff;
      font-size: 12px;
      margin-left: 15px;
      cursor: pointer; }
      body > header form button i {
        vertical-align: middle;
        font-size: 18px; }

main aside {
  box-sizing: border-box;
  padding: 18px 0 0 45px;
  width: 260px;
  background-color: #2a2e3d;
  color: #6e8095;
  position: absolute;
  top: 56px;
  bottom: 0; }
  main aside .user-area {
    overflow: hidden;
    padding-bottom: 23px; }
    main aside .user-area header {
      width: 57px;
      height: 57px;
      background-color: #bababe;
      border-radius: 28.5px;
      position: relative;
      margin-bottom: 21px; }
      main aside .user-area header span {
        font-size: 16px;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 75px;
        margin-top: -10px; }
      main aside .user-area header::before {
        content: '';
        width: 53px;
        height: 53px;
        background-color: #2a2e3d;
        border-radius: 26.5px;
        position: absolute;
        top: 2px;
        left: 2px; }
      main aside .user-area header::after {
        content: '';
        width: 46px;
        height: 46px;
        background-color: #bababe;
        position: absolute;
        top: 5.5px;
        left: 5.5px;
        border-radius: 23px; }
    main aside .user-area > .pull-left {
      margin-left: 17px;
      margin-right: 30px;
      font-size: 16px; }
      main aside .user-area > .pull-left::after {
        content: '收藏';
        display: block;
        font-size: 12px; }
    main aside .user-area div:last-child {
      border-left: 3px solid #323647;
      padding-left: 30px;
      margin-left: 0; }
  main aside > ul {
    margin-top: -5px;
    line-height: 48px; }
    main aside > ul a {
      color: #566477; }
    main aside > ul > li > a > i {
      padding-right: 12px; }
    main aside > ul > li > ul {
      padding-left: 19px; }
      main aside > ul > li > ul > li {
        margin-top: -17px; }
        main aside > ul > li > ul > li::before {
          content: '';
          width: 10px;
          height: 10px;
          border-left: 1px solid #566477;
          border-top: 1px solid #566477;
          transform: rotate(135deg);
          display: inline-block;
          margin-right: 10px; }
        main aside > ul > li > ul > li > ul {
          padding-left: 35px; }
          main aside > ul > li > ul > li > ul > li {
            margin-top: -19px; }

main > div {
  margin-left: 260px;
  background-color: #eeeeee; }
  main > div .breadcrumb {
    padding: 4px 0 6px 29px;
    line-height: 22px;
    background-color: #ffffff; }
    main > div .breadcrumb a {
      color: #b7b7b7; }
    main > div .breadcrumb li {
      display: inline-block; }
      main > div .breadcrumb li::after {
        content: ' /'; }
    main > div .breadcrumb .active {
      color: #388bc0; }
      main > div .breadcrumb .active::after {
        content: '';
        display: none; }
  main > div .content {
    width: 892px;
    margin: 17px auto 0 auto; }
    main > div .content form {
      background-color: #ffffff;
      border: 1px solid #bfc3c9;
      vertical-align: top;
      padding: 15px 0 9px 24px;
      margin-bottom: 10px; }
      main > div .content form label {
        color: #b7b7b7;
        margin-right: 10px; }
      main > div .content form select {
        height: 26px; }
      main > div .content form div:first-child select {
        width: 69px; }
      main > div .content form div:nth-child(2) {
        padding-right: 28px;
        background: url("../images/task_1_9_1_03.png") no-repeat 160px 8px; }
        main > div .content form div:nth-child(2) select {
          width: 119px;
          margin-bottom: 4px; }
      main > div .content form div:nth-child(2), main > div .content form div:nth-child(3) {
        margin-left: 31px; }
      main > div .content form div:nth-child(3) {
        margin-left: 26px; }
        main > div .content form div:nth-child(3) input[type=date] {
          width: 117px;
          padding: 0; }
        main > div .content form div:nth-child(3) label[for=useTime] {
          margin-left: 8px;
          margin-right: 6px; }
        main > div .content form div:nth-child(3) #useTime {
          width: 69px; }
        main > div .content form div:nth-child(3) label[for=soleItem] {
          margin-left: 7px; }
        main > div .content form div:nth-child(3) #soleItem {
          margin-left: -4px;
          width: 120px; }
        main > div .content form div:nth-child(3) select {
          margin-bottom: 4px;
          padding-right: 19px; }
      main > div .content form div {
        display: inline-block;
        vertical-align: top; }
      main > div .content form input[type="submit"] {
        background-color: #388bc0;
        border: none;
        color: #ffffff;
        padding: 6px 12px;
        vertical-align: middle;
        margin: 15px 0 0 23px; }
    main > div .content .history {
      margin-bottom: 11px; }
      main > div .content .history .back-btn, main > div .content .history .go-btn {
        vertical-align: top;
        width: 31px;
        height: 63px;
        background: #ffffff; }
        main > div .content .history .back-btn::before, main > div .content .history .go-btn::before {
          content: '';
          display: block;
          width: 9px;
          height: 9px;
          border-left: 1px solid #AAAAAA;
          border-top: 1px solid #AAAAAA; }
      main > div .content .history .back-btn::before {
        transform: rotate(-45deg);
        margin: -1px 0 0 12px; }
      main > div .content .history .go-btn {
        margin-left: -3px; }
      main > div .content .history .go-btn::before {
        transform: rotate(135deg);
        margin-left: 4px; }
      main > div .content .history .find-history {
        border-left: 1px solid #AAAAAA;
        border-top: 1px solid #AAAAAA;
        vertical-align: top;
        margin-left: 3px;
        width: 125px;
        height: 63px;
        line-height: 63px;
        background: #ffffff; }
        main > div .content .history .find-history i {
          display: inline-block;
          font-size: 30px;
          margin: 16px 0 0 9px;
          color: #388ac1; }
        main > div .content .history .find-history span {
          display: inline-block;
          margin-left: 12px;
          vertical-align: middle; }
      main > div .content .history ul {
        display: inline-block;
        margin: -1px 0 0 -3px; }
      main > div .content .history .active {
        border-top: 3px solid #388bc0; }
      main > div .content .history li {
        float: left;
        width: 111px;
        height: 61px;
        background-color: #ffffff;
        text-align: center;
        border-top: 1px solid #b7b7b7;
        border-left: 1px solid #b7b7b7;
        margin-right: 3px;
        font-family: "Microsoft YaHei"; }
        main > div .content .history li small {
          display: inline-block;
          margin: 8px 0 0 -6px; }
        main > div .content .history li strong {
          font-size: 21px;
          color: #ec6500;
          margin: 5px 0 0 -4px;
          display: inline-block; }
          main > div .content .history li strong span {
            font-size: 14px;
            color: #b7b7b7; }
    main > div .content .sum {
      margin-bottom: 13px; }
      main > div .content .sum h3 {
        font-size: 12px;
        line-height: 31px;
        font-weight: 500; }
      main > div .content .sum ul {
        margin-top: -5px;
        overflow: hidden; }
        main > div .content .sum ul li {
          text-align: left;
          display: inline-block;
          width: 200px;
          height: 70px;
          border: 1px solid #d8d9db;
          background-color: #ffffff;
          position: relative; }
          main > div .content .sum ul li::after {
            content: '';
            width: 60px;
            height: 46px;
            margin-top: -23px;
            position: absolute;
            top: 50%;
            right: 20px; }
          main > div .content .sum ul li span {
            display: inline-block;
            text-indent: 5px; }
          main > div .content .sum ul li span:first-child {
            line-height: 24px;
            margin-top: 13px; }
          main > div .content .sum ul li span:last-child {
            line-height: 20px;
            color: #AAAAAA;
            font-size: 12px; }
        main > div .content .sum ul li:nth-child(2), main > div .content .sum ul li:nth-child(3) {
          margin: 0 10px; }
        main > div .content .sum ul li:nth-child(1) {
          border-left: 5px solid #43b29d; }
          main > div .content .sum ul li:nth-child(1)::after {
            background-color: #43b29d; }
        main > div .content .sum ul li:nth-child(2) {
          border-left: 5px solid #388bc2; }
          main > div .content .sum ul li:nth-child(2)::after {
            background-color: #388bc2; }
        main > div .content .sum ul li:nth-child(3) {
          border-left: 5px solid #d04b36; }
          main > div .content .sum ul li:nth-child(3)::after {
            background-color: #d04b36; }
        main > div .content .sum ul li:nth-child(4) {
          border-left: 5px solid #e2cd46; }
          main > div .content .sum ul li:nth-child(4)::after {
            background-color: #e2cd46; }
    main > div .content .first-item {
      overflow: hidden; }
      main > div .content .first-item h3 {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        color: #aaaaaa;
        border-radius: 8px 8px 0 0;
        padding: 11px 0;
        background-color: #f3f5f6;
        text-indent: 15px; }
      main > div .content .first-item .pull-left {
        width: 59%;
        border: 1px solid #cfd1d4;
        border-radius: 8px; }
        main > div .content .first-item .pull-left div {
          padding: 14px 0 14px 0; }
          main > div .content .first-item .pull-left div ul:first-child {
            overflow: hidden;
            margin-left: 16px; }
            main > div .content .first-item .pull-left div ul:first-child li {
              float: left;
              padding: 6px 23px;
              line-height: 16px;
              margin-right: 7px;
              background-color: #ededf0;
              border-radius: 5px 5px 0 0;
              position: relative; }
              main > div .content .first-item .pull-left div ul:first-child li::after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 5px;
                background-color: #ececef; }
              main > div .content .first-item .pull-left div ul:first-child li a {
                color: #000;
                font-size: 12px;
                line-height: 16px; }
            main > div .content .first-item .pull-left div ul:first-child .active {
              background-color: #ffffff;
              border: 1px solid #dadada;
              border-bottom: none; }
          main > div .content .first-item .pull-left div ul:last-child {
            box-sizing: border-box;
            padding: 0 50px 0 35px;
            width: 488px;
            margin: 0 10px 0 16px;
            background-color: #ffffff;
            border: 1px solid #dadada; }
            main > div .content .first-item .pull-left div ul:last-child table {
              border-collapse: collapse;
              margin: 26px 0 26px 0; }
            main > div .content .first-item .pull-left div ul:last-child table, main > div .content .first-item .pull-left div ul:last-child tr, main > div .content .first-item .pull-left div ul:last-child td {
              border: 1px solid #dddddd; }
            main > div .content .first-item .pull-left div ul:last-child td {
              padding: 9px 22px 6px 17px; }
      main > div .content .first-item .pull-right {
        width: 40%;
        border-radius: 8px;
        border: 1px solid #dadada; }
        main > div .content .first-item .pull-right form {
          color: #535353;
          border: none;
          font-size: 12px;
          line-height: 16px;
          padding: 19px 50px 0 50px; }
          main > div .content .first-item .pull-right form input[type=text], main > div .content .first-item .pull-right form textarea {
            border: none; }
          main > div .content .first-item .pull-right form textarea {
            overflow: hidden;
            resize: none; }
          main > div .content .first-item .pull-right form label {
            color: #c3c2c2; }
          main > div .content .first-item .pull-right form #title {
            margin-bottom: 10px; }
          main > div .content .first-item .pull-right form .pull-left {
            border-radius: 0;
            border: 1px solid #e7e7e7;
            border-left: none;
            border-right: none;
            width: 30%; }
            main > div .content .first-item .pull-right form .pull-left #price {
              margin-top: 6px; }
          main > div .content .first-item .pull-right form .right {
            box-sizing: border-box;
            width: 70%;
            border: 1px solid #e7e7e7;
            padding-left: 14px;
            border-right: none; }
            main > div .content .first-item .pull-right form .right #thingMan {
              margin-top: 6px; }
          main > div .content .first-item .pull-right form label[for=detail] {
            display: inline-block;
            margin: 8px 0 2px 0; }
          main > div .content .first-item .pull-right form #confidential {
            background-color: #d5d5d5;
            outline: none;
            border: none;
            margin-top: 12px; }
          main > div .content .first-item .pull-right form textarea {
            height: 120px; }
          main > div .content .first-item .pull-right form input[type=submit] {
            width: 51px;
            padding: 5px 0;
            margin: 4px 0;
            border-radius: 3px; }
    main > div .content .other {
      overflow: hidden;
      padding-top: 34px; }
      main > div .content .other .calendar {
        width: 350px;
        border: 1px solid #d2d5d7;
        border-radius: 8px; }
        main > div .content .other .calendar h3 {
          color: #aaaaaa;
          font-family: 'Microsoft YaHei';
          font-size: 12px;
          line-height: 17px;
          background-color: #f3f6f6;
          text-indent: 14px;
          font-weight: 300;
          padding: 11px 0;
          border-radius: 8px 8px 0 0; }
        main > div .content .other .calendar form {
          text-align: center;
          padding: 8px 0;
          margin-bottom: 0;
          border: none; }
          main > div .content .other .calendar form select, main > div .content .other .calendar form input {
            margin: 0 6px; }
        main > div .content .other .calendar table {
          border-top: 1px solid #a8d0ec;
          box-sizing: border-box;
          text-align: center;
          width: 100%;
          font-size: 12px;
          line-height: 16px;
          background-color: #fff;
          padding-top: 3px; }
          main > div .content .other .calendar table thead {
            border-bottom: 1px solid #e1e1e1;
            padding: 1px 0; }
