
//reset
*{
  margin: 0;
  padding:0;
}
html,body{
  font: 12px SimHei;
  color: #000;
}
ul{
  list-style: none;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.container-fluid{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.container{
  min-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

//value
$headerBg:#2189bf;
$blue:#388ac1;
$green:#43b29e;
$red:#d04b36;
$yellow:#e2cd47;
$white:#ffffff;


body>header{
  background-color: $headerBg;
  padding: 0 71px 0 50px;
  h1{
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    margin: 10px 0;
    background-color: $white;
    position: relative;
    &::before{
      content: '';
      width: 19px;
      height: 19px;
      position: absolute;
      bottom:0;
      right:0;
      background-color: $headerBg;
    }
    &::after{
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      bottom:0;
      right:0;
      background-color: $white;
    }
  }
  form{
    margin: 14px 0;
    position: relative;
    input{
      width: 277px;
      height: 28px;
      border:none;
      border-radius: 14px;
      padding-left: 33px;
      text-indent: 5px;
      background-color: $white;
      font-size: 16px;
    }
    .icon-search{
      position: absolute;
      left: 17px;
      top: 7px;
      font-size: 16px;
      color: #AAAAAA;
    }
    button{
      background: none;
      border:none;
      color: $white;
      font-size: 12px;
      margin-left: 15px;
      cursor: pointer;
      i{
        vertical-align: middle;
        font-size: 18px;
      }
    }
  }
}

main{
  aside{
    box-sizing: border-box;
    padding:18px 0 0 45px;
    width: 260px;
    background-color: #2a2e3d;
    color: #6e8095;
    position: relative;
    top:0;
    bottom:0;
    .user-area{
      overflow: hidden;
      padding-bottom: 23px;
      header{
        width: 57px;
        height: 57px;
        background-color: #bababe;
        border-radius: (57px/2);
        position: relative;
        margin-bottom: 21px;
        span{
          font-size: 16px;
          color: $white;
          position: absolute;
          top:50%;
          left: 75px;
          margin-top: -10px;
        }
        &::before{
          content: '';
          width: 53px;
          height: 53px;
          background-color: #2a2e3d;
          border-radius: (53px/2);
          position: absolute;
          top:2px;
          left: 2px;
        }
        &::after{
          content: '';
          width: 46px;
          height: 46px;
          background-color: #bababe;
          position: absolute;
          top:((57px-46)/2);
          left:((57px-46)/2);
          border-radius: (46px/2);
        }
      }
      &>.pull-left{
        margin-left: 17px;
        margin-right: 30px;
        font-size: 16px;
        &::after{
          content: '收藏';
          display: block;
          font-size: 12px;
        }
      }
      div:last-child{
        border-left: 3px solid #323647;
        padding-left: 30px;
        margin-left: 0;
      }
    }
    &>ul{
      margin-top: -5px;
      a{
        color: #566477;
      }
      line-height: 48px;
      &>li{
        &>a{
          &>i{
            padding-right: 12px;
          }
        }
        &>ul{
          padding-left: 19px;
          &>li{
            margin-top: -17px;
            &::before{
              content: '';
              width: 10px;
              height: 10px;
              border-left: 1px solid #566477;
              border-top: 1px solid #566477;
              transform: rotate(135deg);
              display: inline-block;
              margin-right: 10px;
            }
            &>ul{
              padding-left: 35px;
              &>li{
                margin-top: -19px;
              }
            }
          }
        }
      }
    }
  }
  &>div{
    margin-left: 260px;
    background-color: #eeeeee;
    .breadcrumb{
      padding:4px 0 6px 29px;
      line-height: 22px;
      background-color: $white;
      a{
        color: #b7b7b7;
      }
      li{
        display: inline-block;
        &::after{
          content: ' /';
        }
      }
      .active{
        color: #388bc0;
        &::after{
          content: '';
          display: none;
        }
      }
    }
    .content{
      width: 892px;
      margin: 17px auto 0 auto;
      form{
        background-color: $white;
        border:1px solid #bfc3c9;
        vertical-align: top;
        padding: 15px 0 0 24px;
        label{
          color: #b7b7b7;
          margin-right: 10px;
        }
        select{
          height: 26px;
        }
        div:first-child{
          select{
            width: 69px;
          }
        }
        div:nth-child(2){
          padding-right: 28px;
          background: url("../images/task_1_9_1_03.png")no-repeat 160px 8px;
          select{
            width: 119px;
            margin-bottom: 4px;
          }
        }
        div:nth-child(2),div:nth-child(3){
          margin-left: 31px;
        }
        div:nth-child(3){
          margin-left: 26px;
          input[type=date]{
            width: 117px;
            padding:0;
          }
          label[for=useTime]{
            margin-left: 8px;
            margin-right: 6px;
          }
          #useTime{
            width: 69px;
          }
          #man{

          }
          select{
            margin-bottom: 4px;
            padding-right: 13px;
          }
        }
        div{
          display: inline-block;
          vertical-align: top;
        }
        input[type="submit"]{
          background-color: #388bc0;
          border:none;
          color: #ffffff;
          padding:10px 10px;
          vertical-align: middle;
        }
      }
    }
  }
}