
//reset
*{
  margin: 0;
  padding:0;
}
html,body{
  font: 12px SimHei;
  color: #000;
}
ul{
  list-style: none;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.container-fluid{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.container{
  min-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

//value
$headerBg:#2189bf;
$blue:#388ac1;
$green:#43b29e;
$red:#d04b36;
$yellow:#e2cd47;
$white:#ffffff;


body>header{
  background-color: $headerBg;
  padding: 0 71px 0 50px;
  h1{
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    margin: 10px 0;
    background-color: $white;
    position: relative;
    &::before{
      content: '';
      width: 19px;
      height: 19px;
      position: absolute;
      bottom:0;
      right:0;
      background-color: $headerBg;
    }
    &::after{
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      bottom:0;
      right:0;
      background-color: $white;
    }
  }
  form{
    margin: 14px 0;
    position: relative;
    input{
      width: 277px;
      height: 28px;
      border:none;
      border-radius: 14px;
      padding-left: 33px;
      text-indent: 5px;
      background-color: $white;
      font-size: 16px;
    }
    .icon-search{
      position: absolute;
      left: 17px;
      top: 7px;
      font-size: 16px;
      color: #AAAAAA;
    }
    button{
      background: none;
      border:none;
      color: $white;
      font-size: 12px;
      margin-left: 15px;
      cursor: pointer;
      i{
        vertical-align: middle;
        font-size: 18px;
      }
    }
  }
}

main{
  aside{
    box-sizing: border-box;
    padding:18px 0 0 45px;
    width: 260px;
    background-color: #2a2e3d;
    color: #6e8095;
    position: relative;
    top:0;
    bottom:0;
    .user-area{
      overflow: hidden;
      padding-bottom: 23px;
      header{
        width: 57px;
        height: 57px;
        background-color: #bababe;
        border-radius: (57px/2);
        position: relative;
        margin-bottom: 21px;
        span{
          font-size: 16px;
          color: $white;
          position: absolute;
          top:50%;
          left: 75px;
          margin-top: -10px;
        }
        &::before{
          content: '';
          width: 53px;
          height: 53px;
          background-color: #2a2e3d;
          border-radius: (53px/2);
          position: absolute;
          top:2px;
          left: 2px;
        }
        &::after{
          content: '';
          width: 46px;
          height: 46px;
          background-color: #bababe;
          position: absolute;
          top:((57px-46)/2);
          left:((57px-46)/2);
          border-radius: (46px/2);
        }
      }
      &>.pull-left{
        margin-left: 17px;
        margin-right: 30px;
        font-size: 16px;
        &::after{
          content: '收藏';
          display: block;
          font-size: 12px;
        }
      }
      div:last-child{
        border-left: 3px solid #323647;
        padding-left: 30px;
        margin-left: 0;
      }
    }
    &>ul{
      margin-top: -5px;
      a{
        color: #566477;
      }
      line-height: 48px;
      &>li{
        &>a{
          &>i{
            padding-right: 12px;
          }
        }
        &>ul{
          padding-left: 19px;
          &>li{
            margin-top: -17px;
            &::before{
              content: '';
              width: 10px;
              height: 10px;
              border-left: 1px solid #566477;
              border-top: 1px solid #566477;
              transform: rotate(135deg);
              display: inline-block;
              margin-right: 10px;
            }
            &>ul{
              padding-left: 35px;
              &>li{
                margin-top: -19px;
              }
            }
          }
        }
      }
    }
  }
  &>div{
    margin-left: 260px;
    background-color: #eeeeee;
    .breadcrumb{
      padding:4px 0 6px 29px;
      line-height: 22px;
      background-color: $white;
      a{
        color: #b7b7b7;
      }
      li{
        display: inline-block;
        &::after{
          content: ' /';
        }
      }
      .active{
        color: #388bc0;
        &::after{
          content: '';
          display: none;
        }
      }
    }
    .content{
      width: 892px;
      margin: 17px auto 0 auto;
      form{
        background-color: $white;
        border:1px solid #bfc3c9;
        vertical-align: top;
        padding: 15px 0 9px 24px;
        margin-bottom: 10px;
        label{
          color: #b7b7b7;
          margin-right: 10px;
        }
        select{
          height: 26px;
        }
        div:first-child{
          select{
            width: 69px;
          }
        }
        div:nth-child(2){
          padding-right: 28px;
          background: url("../images/task_1_9_1_03.png")no-repeat 160px 8px;
          select{
            width: 119px;
            margin-bottom: 4px;
          }
        }
        div:nth-child(2),div:nth-child(3){
          margin-left: 31px;
        }
        div:nth-child(3){
          margin-left: 26px;
          input[type=date]{
            width: 117px;
            padding:0;
          }
          label[for=useTime]{
            margin-left: 8px;
            margin-right: 6px;
          }
          #useTime{
            width: 69px;
          }
          label[for=soleItem]{
            margin-left: 7px;
          }
          #soleItem{
            margin-left: -4px;
            width: 120px;
          }
          select{
            margin-bottom: 4px;
            padding-right: 19px;
          }
        }
        div{
          display: inline-block;
          vertical-align: top;
        }
        input[type="submit"]{
          background-color: #388bc0;
          border:none;
          color: #ffffff;
          padding:6px 12px;
          vertical-align: middle;
          margin: 15px 0 0 23px;
        }
      }
      .history{
        margin-bottom: 11px;
        .back-btn,.go-btn{
          vertical-align: top;
          width: 31px;
          height: 63px;
          background: $white;
          &::before{
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            border-left: 1px solid #AAAAAA;
            border-top:1px solid #AAAAAA;
          }
        }
        .back-btn{
          &::before{
            transform: rotate(-45deg);
            margin: -1px 0 0 12px;
          }
        }
        .go-btn{
          margin-left: -3px;
        }
        .go-btn::before{
          transform: rotate(135deg);
          margin-left: 4px;
        }
        .find-history{
          border-left: 1px solid #AAAAAA;
          border-top:1px solid #AAAAAA;
          vertical-align: top;
          margin-left: 3px;
          width: 125px;
          height: 63px;
          line-height: 63px;
          background: $white;
          i{
            display: inline-block;
            font-size: 30px;
            margin: 16px 0 0 9px;
            color: #388ac1;
          }
          span{
            display: inline-block;
            margin-left: 12px;
            vertical-align: middle;
          }
        }
        ul{
          display: inline-block;
          margin: -1px 0 0 -3px;
        }
        .active{
          border-top: 3px solid #388bc0;
        }
        li{
          float: left;
          width: 111px;
          height: 61px;
          background-color: $white;
          text-align: center;
          border-top: 1px solid #b7b7b7;
          border-left: 1px solid #b7b7b7;
          margin-right: 3px;
          font-family: "Microsoft YaHei";
          small{
            display: inline-block;
            margin: 8px 0 0 -6px;
          }
          strong{
            font-size: 21px;
            color: #ec6500;
            margin: 5px 0 0 -4px;
            display: inline-block;
            span{
              font-size: 14px;
              color: #b7b7b7;
            }
          }
        }
      }
      .sum{
        margin-bottom: 13px;
        h3{
          font-size: 12px;
          line-height: 31px;
          font-weight: 500;
        }
        ul{
          margin-top: -5px;
          overflow: hidden;
          li{
            text-align: left;
            display: inline-block;
            width: 200px;
            height: 70px;
            border:1px solid #d8d9db;
            background-color: $white;
            position: relative;
            &::after{
              content: '';
              width: 60px;
              height: 46px;
              margin-top: -23px;
              position: absolute;
              top:50%;
              right: 20px;
            }
            span{
              display: inline-block;
              text-indent: 5px;
            }
            span:first-child{
              line-height: 24px;
              margin-top: 13px;
            }
            span:last-child{
              line-height: 20px;
              color: #AAAAAA;
              font-size: 12px;
            }
          }
          li:nth-child(2),li:nth-child(3){
            margin: 0 10px;
          }
          li:nth-child(1){
            border-left: 5px solid #43b29d;
            &::after{
              background-color: #43b29d;
            }
          }
          li:nth-child(2){
            border-left: 5px solid #388bc2;
            &::after{
              background-color: #388bc2;
            }
          }
          li:nth-child(3){
            border-left: 5px solid #d04b36;
            &::after{
              background-color: #d04b36;
            }
          }
          li:nth-child(4){
            border-left: 5px solid #e2cd46;
            &::after{
              background-color: #e2cd46;
            }
          }
        }
      }
      .first-item{
        overflow: hidden;
        .pull-left{
          border:1px solid #d0d2d6;
          border-radius: 8px;
          width: 59%;
          background-color: $white;
          h3{
            font-size: 12px;
            line-height: 16px;
            border-bottom: 1px solid #d0d2d6;
            border-radius: 8px 8px 0 0;
            background-color: #f3f5f6;
            padding:13px 0;
            text-indent: 13px;
          }
          ul{
            margin: 11px 10px 0 10px;
            overflow: hidden;
            position: relative;
            .active{
              border-bottom: none;
              background-color: $white;
            }
            li{
              float: left;
              text-align: center;
              background-color: #ededf0;
              border-radius: 5px 5px 0 0;
              width: 86px;
              margin-left: 3px;
              padding:5px 0;
              table{
                position: absolute;
              }
              &:active{
                border-bottom: none;
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }
}