@mixin trans($time:0.5s){
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
  transition: $time;
}

.topBar{
  background-color: #333;
  line-height: (40em/12);
  margin-bottom: 2em;
  a{
    color: #b0b0b0;
    &:hover{
      color: #fff;
    }
  }
  .space{
    color: #424242;
    margin: 5px;
  }
  .shopCar{
    display: inline-block;
    margin: 0 (40em/12);
    &:hover{
      color: #ff6700;
    }
  }
}

.header{
  line-height: 100px;
  .logo{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    margin-top: 22.5px;
  }
  .searchBar{
    margin-top: 22.5px;
    .searchText{
      height: 50px;
      width: 240px;
      border: 1px solid #e0e0e0;
      @include trans(0.1s);
      &:hover{
        border: 1px solid #999;
      }
    }
    .searchBtn{
      width: 52px;
      height: 52px;
      background-color: #fff;
      outline: none;
      border: 1px solid #e0e0e0;
      border-left: none;
      cursor: pointer;
      @include trans(0.1s);
      &:hover{
        background-color: #ff6700;
      }
    }
  }
  .productNav{
    overflow: hidden;
    a{
      color: #000;
      font-size: 16px;
      padding: 0 18px;
      &:hover{
        color: #ff6700;
      }
    }
  }
}